
*.lock
*.ide
*.ide-shm
*.ide-wal
*.exe
.vs/kakao/v15/.suo
kakao/bin/Debug/kakao.exe.config
kakao/bin/Debug/kakao.pdb
kakao/bin/Debug/XInput.Wrapper.dll
kakao/bin/Release/kakao.exe.config
kakao/bin/Release/kakao.pdb
kakao/bin/Release/XInput.Wrapper.dll
kakao/obj/Debug/DesignTimeResolveAssemblyReferences.cache
kakao/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
kakao/obj/Debug/kakao.csproj.CopyComplete
kakao/obj/Debug/kakao.csproj.CoreCompileInputs.cache
kakao/obj/Debug/kakao.csproj.FileListAbsolute.txt
kakao/obj/Debug/kakao.csproj.GenerateResource.cache
kakao/obj/Debug/kakao.csprojAssemblyReference.cache
kakao/obj/Debug/kakao.GamepadButtonSelect.resources
kakao/obj/Debug/kakao.Main.resources
kakao/obj/Debug/kakao.pdb
kakao/obj/Debug/kakao.Properties.Resources.resources
kakao/obj/Debug/kakao.Settings.resources
kakao/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
kakao/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
kakao/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
kakao/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
kakao/obj/Release/kakao.csproj.CopyComplete
kakao/obj/Release/kakao.csproj.CoreCompileInputs.cache
kakao/obj/Release/kakao.csproj.FileListAbsolute.txt
kakao/obj/Release/kakao.csproj.GenerateResource.cache
kakao/obj/Release/kakao.Main.resources
kakao/obj/Release/kakao.GamepadButtonSelect.resources
kakao/obj/Release/kakao.Properties.Resources.resources
kakao/obj/Release/kakao.pdb
kakao/obj/Release/kakao.Settings.resources
kakao/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
kakao/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
kakao/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
kakao/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
*.cache
*.zip
*.dll
packages/XInput.Wrapper.0.3.1/XInput.Wrapper.0.3.1.nupkg
packages/XInput.Wrapper.0.3.1/.signature.p7s
